<div class="hero-banner">
    <div class="container d-flex flex-row align-items-center h-100">
        <div class="col-6">
            <h2>Bingung Mau Sewa Motor?</h2>
            <h1>Sewa Motor Evan</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste eligendi explicabo voluptatibus veniam fuga voluptatem necessitatibus illo ducimus debitis sed.</p>
            <a class="btn btn-outline-primary fw-bold px-5">LIHAT SEMUA</a>
        </div>
        <div class="col-6 text-end">
            <img src="app/image/cartoon-motorcycle.png" alt="cartoon-motorcycle.png" class="hero-banner-motorcycle">
            <div class="terrain"></div>
        </div>
    </div>
</div>


<div class="container">
    <center>
        <h4>Layanan Kami</h4>
        <h2>NILAI PLUS KAMI</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus accusantium aspernatur labore eum. <br> Odit quas minus, ex quod ipsam repudiandae?</p>
    </center>
    <div class="d-flex service-content mt-5" >
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <i class='bx bx-objects-vertical-bottom fs-1'></i>
                <h5 class="card-title">Kenyamanan dan Keterjangkauan.</h5>
                <h6 class="card-subtitle mb-2 text-muted">Layanan</h6>
                <p class="card-text">Jasa sewa motor Evan menawarkan kenyamanan dan keterjangkauan bagi para pelanggannya. </p>
            </div>
        </div>
        <div class="card " style="width: 18rem;">
            <div class="card-body">
                <i class='bx bx-objects-vertical-bottom fs-1'></i>
                <h5 class="card-title">Fleksibilitas dan Kemudahan Akses.</h5>
                <h6 class="card-subtitle mb-2 text-muted">Layanan</h6>
                <p class="card-text">Jasa sewa motor Evan menawarkan fleksibilitas dan kemudahan akses bagi pelanggan. </p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <i class='bx bx-objects-vertical-bottom fs-1'></i>
                <h5 class="card-title">Pemeliharaan Motor yang Baik.</h5>
                <h6 class="card-subtitle mb-2 text-muted">Layanan</h6>
                <p class="card-text"> Evan memberikan perhatian khusus terhadap pemeliharaan motor-motor yang disewakannya. </p>
            </div>
        </div>
        <div class="card " style="width: 18rem;">
            <div class="card-body">
                <i class='bx bx-objects-vertical-bottom fs-1'></i>
                <h5 class="card-title">Layanan Pelanggan yang Ramah dan Responsif.</h5>
              <h6 class="card-subtitle mb-2 text-muted">Layanan</h6>
              <p class="card-text">Evan memberikan layanan pelanggan yang ramah dan responsif. </p>
            </div>
          </div>
    </div>

</div>
<div style="height: 30vh;"></div>
<div class="container">
    <div class="d-flex">
        <div class="col-6"></div>
        <div class="col-6">
            <h4>Tentang Kami</h4>
            <h2>SEMUA BERMULA DARI AWAL</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum distinctio, fugit minima autem voluptatem aperiam unde at nulla, ducimus iste aspernatur consequatur ipsam vel veniam sit, voluptate dolore quod consequuntur laborum explicabo recusandae tempore facere. Cum deleniti delectus unde incidunt. Voluptatem aut officiis quaerat quo, soluta fugiat unde perferendis assumenda.</p>
            <div class="d-flex" style="gap: 10px;">
                <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <i class='bx bx-objects-vertical-bottom fs-1'></i>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <i class='bx bx-objects-vertical-bottom fs-1'></i>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>