<div class="header">
  <div class="container h-100 align-items-center d-flex">
    <div class="row ">
      <div class="col align-self-center">
        <h2>Bingung Mau Sewa Motor?</h2>
        <h1>Sewa Motor Evan</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste eligendi explicabo voluptatibus veniam fuga voluptatem necessitatibus illo ducimus debitis sed.</p>
        <a class="btn button-outline-primary fw-bold px-5 mt-4">LIHAT SEMUA</a>
      </div>
      <div class="col position-relative">
        <img src="app/image/motor.png" class="gambar-banner" alt="motor">
        <div class="lingkaran-dot">
          <div class="unggulan-gambar text-center">100+ <br>Pelanggan</div>
          <div class="unggulan-gambar text-center">10+ <br>Variasi Motor</div>
          <div class="unggulan-gambar text-center">Cepat Hemat <br>Terpercaya</div>
        </div>
      </div>
    </div>
  </div>
</div>
