<div class="section  d-flex align-items-center">
  <div class="container ">
    <div class="row">
      <div class="col-md-6 order-md-2 ilustrasi-banner position-relative">
        <img src="app/image/motor.png" class="gambar-banner" alt="motor">
        <div class="unggulan-gambar text-center">100+ <br>Pelanggan</div>
        <div class="unggulan-gambar text-center">10+ <br>Variasi Motor</div>
        <div class="unggulan-gambar text-center">Cepat Hemat <br>Terpercaya</div>
        <div class="lingkaran-dot">
        </div>
      </div>
      <div class="col-md-6 order-md-1 text-banner align-self-center">
        <h2>Bingung Mau Sewa Motor?</h2>
        <h1>Sewa Motor Evan</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste eligendi explicabo voluptatibus veniam fuga voluptatem necessitatibus illo ducimus debitis sed.</p>
        <a class="btn button-outline-primary fw-bold px-5 mt-4">LIHAT SEMUA</a>
      </div>
      
    </div>
  </div>
</div>
<section class="section d-flex align-items-center">
  <div class="container ">
    <div class="row">
      <div class="col-md-6 order-md-1 text-banner align-self-center">
        <img src="app/image/layanan.jpg" class="gambar-layanan shadow-lg"  alt="gambar layanan">
      </div>
      <div class="col-md-6 order-md-2 deskripsi-section">
        <h2>Layanan Kami</h2>
        <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ad veniam officiis deserunt tempora nemo fuga velit error. Sunt atque deleniti doloribus laudantium illum nobis facilis aliquid exercitationem neque, voluptas eaque adipisci asperiores tempora consequuntur vel aut veniam eum et rerum quis saepe. Quo ipsum molestiae repellat vitae nisi nam officiis quam voluptas repellendus debitis neque magnam, tempora blanditiis impedit ratione qui modi a quod. Numquam inventore, quaerat nemo et exercitationem beatae facilis illum tempore error aliquam optio reprehenderit consequatur? Id beatae omnis reiciendis velit reprehenderit harum quae perspiciatis amet aliquam assumenda? Odit saepe nisi repudiandae, aliquid maiores corporis asperiores!</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col  mt-4">
        <div class="card shadow">
          <div class="card-body text-center">
            <h5 class="card-title">100+</h5>
            <h6 class="card-subtitle mb-2 text-muted">Pelanggan</h6>
          </div>
        </div>
      </div>
      <div class="col  mt-4">
        <div class="card shadow">
          <div class="card-body text-center">
            <h5 class="card-title">10+</h5>
            <h6 class="card-subtitle mb-2 text-muted">Variasi Motor</h6>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="card shadow">
          <div class="card-body text-center">
            <h5 class="card-title">5</h5>
            <h6 class="card-subtitle mb-2 text-muted">Cabang</h6>
          </div>
        </div>
      </div>
      <div class="col mt-4">
        <div class="card shadow">
          <div class="card-body text-center">
            <h5 class="card-title">10</h5>
            <h6 class="card-subtitle mb-2 text-muted">Tahun Berdiri</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section d-flex align-items-center text-center">
<div style="overflow: hidden;" class="container">
  <h2 >Testimoni</h2>
  <p class="mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus accusamus deleniti dolorum consequatur suscipit tempore, sequi in vitae quam non numquam enim ducimus beatae aliquid quibusdam ex rerum nulla nesciunt?</p>  
  <div class="gambar-testimoni">
    <div class="scroll-container">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
    </div>
    <div class="scroll-container">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
    </div>
    <div class="scroll-container">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
      <img src="https://picsum.photos/200?grayscale" alt="Cinque Terre">
    </div>
  </div>
</div>
</section>