body{
    background-color: #FDFFFA;
}
.section{
    min-height: 100vh;
    height: auto;
}
.gambar-banner{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}
.unggulan-gambar{
    position: absolute;
    padding: 10px 80px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    backdrop-filter: blur(100px);
    color: #24909A;
    font-weight: bold;
    z-index: 2;
}
.unggulan-gambar:first-child{
    top: 0px;
}
.unggulan-gambar:nth-child(2){
    right: -80px;
    top: 50%;
}
.unggulan-gambar:nth-child(3){
    bottom: 0px;
    left: 0px;
}
.button-outline-primary{
    background-color: #FDFFFA;
    border: 2px solid #24909A;
    color: #24909A;
}
.button-outline-primary:hover{
    color: #FDFFFA;
    background-color: #24909A;
}
.lingkaran-dot {
    border-radius: 50%;
    margin: auto;
    border: 5px dashed #24909A ;
    height: 520px;
    width: 520px;
    animation: berputar 250s linear infinite; 
}


.gambar-layanan{
    width: 75%;
    border-radius: 5px;
    border: #FDFFFA solid 14px;
}
.card{
    width: 18rem;
}

div.scroll-container {
    white-space: nowrap;
    animation: scroll 100s linear infinite; 
}
.gambar-testimoni .scroll-container:nth-child(2) {
    transform: translateX(-100%);
    animation: reverse_scroll 100s linear infinite;
}
div.scroll-container img {
  padding: 10px;
}

.carousel{
    margin-top: 100px;
}

.produk{
    width: 18rem;
}

.icon{
    width: 50px;
    height: 50px;
    background-color: #24909A;
    border-radius: 50%;
    margin: 0 10px;
    position: relative;
}
.icon i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 22px;
    color: #FDFFFA;
}
.produk a{
    font-size: 12px;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    50% { transform: translateX(-100%); }
    100% { transform: translateX(0); } 
  }
@keyframes reverse_scroll {
    0% { transform: translateX(-100%); }
    50% { transform: translateX(0); }
    100% { transform: translateX(-100%); } 
  }

@keyframes berputar {
    0%   {transform: rotate(0deg);} 
    100% {transform: rotate(360deg);} 
}
@media screen and (max-width: 800px) {
    
    .gambar-banner{
        width: 250px;
    }
    .lingkaran-dot{
        border: 3px dashed #24909A ;
        height: 270px;
        width: 270px;
    }
    .unggulan-gambar,.text-banner p{
        display: none;
    
    }
    .text-banner{
        text-align: center;
        margin-top: 30px;
    }
    
    .gambar-layanan{
        width: 100%;
        border-radius: 3px;
        border: #FDFFFA solid 10px;
    }
    .deskripsi-section{
        margin-top: 25px;
    }
    .card{
        width: 100%;
    }
    .section:nth-child(3){
        margin-top: 100px;
    }
  
}